<% provide(:page_title, "Edit #{@post.title}") %>

<div class="card">

	<h1 class="text-center">Editing Post</h1>

	<%= render 'form', post: @post %>

	<%= link_to '<i class="fa fa-eye" aria-hidden="true"></i> Show'.html_safe, posts_path, class:'btn btn-primary' %>

</div>


