<% provide(:page_title, 'New Post') %>

<h1 class="text-center">New Post</h1>

<%= render 'form', post: @post %>

<%= link_to '<i class="fa fa-arrow-left" aria-hidden="true"></i> Back'.html_safe, posts_path, class:'btn btn-warning' %>
